<!DOCTYPE html>
<html lang="en">
<!--HEAD-->    
<%- include('partials/head')  %> 
<!--HEAD-->

<!--HEADER-->
<!--<%- include('partials/header')%>-->
<!--HEADER-->
<body>
    <h1>PAGINA NO ENCONTRADA</h1>
    <div class="cccontainder">
    <img src="/images/ur.jpg" alt="..." height="300px" width="300px">
    <img src="/images/raf.jpg" alt="" height="300px" width="300px">
</div>
    <h1>PORQUE ESTOS DOS SUJETOS NO ME ENSEÑARON A HACER ESA PÁGINA QUE BUSCÁS...</h1>

    <a href="/">Volvamos y aprendamos por nuestra cuenta</a>
</body>
<%- include('partials/footer')  %> 
</html>