<footer class="footer">
    <img src="" alt="">
    <img src="" alt="">
    <p>Todos los derechos reservados y los izquierdos también.</p>
    <img src="" alt="">
    <img src="" alt="">
    
</footer>