<header class="header">
    <div class="header-container">
       
        <div class="logo-container">
            <img class="logo" src="/images/logo.png" alt="Logo">
        </div>

        <div class="search-container"> 
        <input Class="search-input"  type="text" placeholder="Search">
        <img class="search-img" type="button" src="/images/search.png" alt="Search">
        </div>

    </div>
</header>
